<?php

session_start();

// print_r($_SESSION);

if(!isset($_SESSION['loggedin'])){

	redirect('auth/', 'refresh');
}

else{

	$timeout = 600;

	$duration = time() - (int)$_SESSION['time'];

	if($duration > $timeout){

		unset($_SESSION['loggedin']);
		$url = site_url('auth/');

	// echo 'Not logged in.';

		echo '<h1> Session timed out. </h1>';

		Header("Refresh:2, url='$url'");
		die;
	}

	else{

		$_SESSION['time'] = time();
	}
}

?>

<html>

<head>

	<link rel="stylesheet" href="<?php echo base_url().'bootstrap/bootstrap.min.css'; ?>">

	<style>

	span{
		margin-right: 10px;
		margin-left: 10px;
	}

	</style>

</head>

<body>

	<hr/>

	<div class="container" style="margin-left: 20px; margin-right: 20px; color: #777">

		<h4 style="float: left !important">Networking Portal <span class="label label-primary"><?php echo $this->session->userdata('username') ?></span></h4>

		<?php if($this->session->userdata('userid') != $this->session->userdata('aliasuserid')): ?>

	<?php endif; ?>

	<?php if($this->session->userdata('userid') != $this->session->userdata('aliasuserid')): ?>

<?php endif; ?>

<ul class="nav nav-pills" style="float: right !important">

	<?php if($this->session->userdata('privilege') == MEMBER): ?>

	<li><a href="<?php echo site_url('member/specificYear/') ?>">Networking Home</a></li>
	<li><a href="<?php echo site_url('sponscont/') ?>">Sponsorship Home</a></li>

<?php endif; ?>

<?php if($this->session->userdata('privilege') == COORDINATOR): ?>

	<li><a href="<?php echo site_url('coordinator') ?>">Coordinator Home</a></li>

<?php endif; ?>

<li><a href="<?php echo site_url('newsfeedcontroller/shownewsfeed') ?>">News Feed</a></li>
<li><a href="<?php echo site_url('dbdisplay/buildTable/0') ?>">Database View</a></li>
<li><a href="<?php echo site_url('auth/logout') ?>">Logout</a></li>
</ul>

</div>

<hr/>

</body>

</html>